.adminContainer{
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #fff;
    flex-direction:column;
    justify-content: flex-start;
   
}
.adminContainerHolder{
    display: flex;
    width:100%;
    height:80vh;
    align-items: center;
    justify-content: center;
}
nav{
  display: flex;
  width:100%;
  height: 80px;
  flex-direction: row;
  justify-content: space-between;
 align-items: center;
 background-color: green;

}
.table{
    display:block;
    width: 100%;
    height: 100%;
}
.userTable{
    display: flex;
    align-items: center;
    justify-content:center;
    width:600px;
    height:70%;
    border: none;
    overflow-x: auto;  
}
.logoutBtn{
    display: flex;
    background-color: transparent;
    border: none;
   
}
.email{
    display: none;
}


 th, td {
    border: 1px solid black;
    width:100%
  }

.adminmodal{
    display: flex;
    width: 600px;
    height: 400px;
    background-color: #000;
    position: absolute;
    margin-left: 25%;
    margin-top: 10%;
    align-items: center;
    justify-content: center;
    
  }

  /* login styles */
 
.pageContainer{
    display: flex;
    min-width: 100vh;
    min-height: 100vh;
    background: #fff;
    backdrop-filter: blur(9px);
    align-items: center;
    justify-content: center;
}
.containerHolder{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items:center;
}
.profileicon{
    display:flex;
    width:100px;
    height:100px;
    border-radius: 120px;
    background-color: #075E54;
    ;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    z-index: 5px; 
}
.loginForm{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    background-color: #075E54;
    box-shadow: 0px 10px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    align-items: center;
    justify-content: flex-start;
}
.form{
    display: block;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 300px;
   }
input{
    display: block;
    width: 100%;
    height: 44px;
    border-radius: 8px;
    outline: none;
    border-color: #fff;
    background:#fff;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    color:#fff;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    color: #fff;
    font-size: 15px;
    padding: 10px 60px;
    margin-top: 10px;
    margin-left: 55px;
    border-radius: 8px;
    outline: none;
   
}
.close{
    display: flex;
    position: absolute;
    margin-top:-60%;
    margin-left: 87%;
    width: 20px;
    height: 20px;
   border:none;
   outline: none;
    background-color: transparent;
}
.submit{
    background-color:#FBCD99;
    
    color:#000;
}
.link{
    color: rgb(245, 250, 250);
}
.passwordContainer{
    display:flex;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: #00792D;
}
.sub{
    color: #fff;
    border-color: black;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-left: 30px;

}
.Response{
    display: flex;
    position: absolute;
    width: 200px;
    height: 350px;
    background-color:#fff;
    align-items: center;
    justify-content: center;
}

